@model IEnumerable<Basketball_ASP.Models.Game>

@{
    ViewBag.Title = "Upcoming Games";
}

<h2>Upcoming Games</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.date))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.gameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.gameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.gameID })
        </td>
    </tr>
}

</table>
